[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
imageio = {extras = ["ffmpeg"], version = "*"}
scipy = "*"
pillow = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.11"
