[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pillow = "*"
pyyaml = "*"
matplotlib = "*"

[dev-packages]
pep8 = "*"
pylint = "*"
pandas = "*"

[requires]
python_version = "3.11"
